.navdrawer {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 250px;
  background-color: purple;
  z-index: 1500;
  transform: translateX(-251px);
  transititraon-delay: 0.1s;
  transition-duration: 0.2s;
  transition-property: transform, left;
  transition-timing-function: ease-out;
}

.navdrawer.in {
  transform: translateX(0px);
}

.navdrawer-open {
    overflow: hidden;
}

.navdrawer-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000;
  z-index: 1000;
  opacity: 0.5;
}
